<%= form_for(@projects_outline_subscriber) do |f| %>
  <% if @projects_outline_subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projects_outline_subscriber.errors.count, "error") %> prohibited this projects_outline_subscriber from being saved:</h2>

      <ul>
      <% @projects_outline_subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
